body {
  background-image: url("background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

iframe {
  margin-top: 10px;
  border: 0;
  border-radius: 15px;
  padding-left: 7px;
  padding-right: 7px;
}

footer {
  background-color: black;
  color: white;
  font-size: 12px;
  height: 20px;
}

.navbar {
  padding-bottom: 0;
  margin-bottom: 0;
  border-radius: 0;
}

.content {
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 25px;
  color: white;
  border: 0;
  border-radius: 15px;
  padding-top: 7px;
  padding-bottom: 14px;
  margin-bottom: 25px;
}

.display {
  margin: 5px;
}

.banner {
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  padding: 0;
  margin: 0;
  padding-top: 75px;
  margin-top: 0;
  border: 0;
}
